black
boto3
botocore
click
flake8
jmespath
mccabe
mypy-extensions
pathspec
platformdirs
pycodestyle
pyflakes
python-dateutil
s3transfer
six
tomli
typing_extensions
urllib3
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
